@use "utils" as *;

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-default);
  font-weight: var(--fw-normal);
  color: var(--clr-grey-2);
  line-height: 1.5;
  min-height: 100vh;
}

.container-page {
  max-width: var(--desktop-container-width);
  margin-inline: auto;
  padding-top: var(--sp-10);
}

.section {
  margin-block-end: var(--sp-8);
  padding-inline: var(--sp-10);
}

.container {
  max-width: toRem(1120px);
  margin-inline: auto;
}

.section--divider {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.divider-line {
  border-left: 1px solid var(--clr-grey-1);
  padding: var(--sp-6) 0;
}

.divider {
  border: 1px solid var(--clr-grey-1);

  width: var(--sp-7);
  height: var(--sp-7);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  font-size: var(--fs-4);
  font-weight: var(--fw-bold);
  color: inherit;
}

.section:last-of-type {
  margin-block-end: 0;
  transform: translateY(20%);
}

.section:last-of-type .divider {
  background-color: var(--clr-white);
}
