.btn:link,
.btn:visited {
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  padding-block: var(--sp-3);
  padding-inline: var(--sp-5);
  border-radius: var(--sp-6);

  transition: all 0.3s;
}

.btn--primary {
  background-color: var(--clr-primary);
}

.btn--primary:hover {
  background-color: var(--clr-primary-tint);
}

.btn--primary span {
  color: var(--clr-primary-tint-2);
}

.btn--accent {
  background-color: var(--clr-accent);
}

.btn--accent:hover {
  background-color: var(--clr-accent-tint);
}

.btn--accent span {
  color: var(--clr-accent-tint-2);
}
